name: Build and deploy action
on:
  push:
    branches:
      - main
jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
    - name: clone code
      uses: actions/checkout@v2
    - name: docker build
      run: docker build -t stepanovya/diplom:$GITHUB_REF_NAME-$GITHUB_RUN_ID .
    - name: docker login
      run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
    - name: docker push
      run: docker push stepanovya/diplom:$GITHUB_REF_NAME-$GITHUB_RUN_ID
  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push
    env:
      DEBUG: ${{ secrets.DEBUG }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
      POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
      POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      SOCIAL_AUTH_VK_OAUTH2_KEY: ${{ secrets.SOCIAL_AUTH_VK_OAUTH2_KEY }}
      SOCIAL_AUTH_VK_OAUTH2_SECRET: ${{ secrets.SOCIAL_AUTH_VK_OAUTH2_SECRET }}
    steps:
    - name: clone code
      uses: actions/checkout@v2
    - name: render configs
      run: |
        cat docker-compose-ci.yaml | envsubst > todolist/docker-compose.yaml
    - name: copy file to server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{secrets.PASSWORD }}
        source: "todolist/docker-compose.yaml"
        target: "todolist"
        strip_components: 1
    - name: deploy app
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{secrets.PASSWORD }}
        script: |
          cd todolist
          echo ${{ secrets.PASSWORD }} | sudo -S docker-compose down
          echo ${{ secrets.PASSWORD }} | sudo -S docker-compose up -d
